body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
    background-color: #ffffff;
}

main {
    flex-grow: 1;
}

ul {
    margin: 0;
    padding-left: 0;
    list-style-type: none;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

a,
a:focus,
a:hover {
    text-decoration: none;
}

section {
    padding: 120px 0;
}

.header {
    border-bottom: 1px solid #e7e9fc;
}

.header>.container {
    display: flex;
}

.logo {
    display: inline;
    color: #4D5AE5;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    margin-right: 76px;
    padding: 0;
}

.studio {
    color: #2E2F42;

}

.end-studio {
    display: inline-block;
    color: #F4F4FD;
}

.mail-phone {
    font-style: normal;
    display: flex;
    padding: 24px 0;
    margin-left: auto;
}

.mail-phone-list {
    display: flex;
    gap: 40px;
}

.mail-phone-link {
    color: #434455;
    font-size: 16px;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mail-phone-link:hover,
.mail-phone-link:focus {
    color: #404BBF;
}

.menu-list {
    display: inline-block;
    color: #2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.32px;
    padding: 24px 0;
}

.menu-list:hover,
.menu-list:focus {
    color: #404BBF;
}

.menu {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    margin-right: auto;
}

.logo-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.hero-title {
    display: block;
    margin: 0 auto;
    color: #FFF;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 1.12px;
    text-align: center;
    padding-bottom: 48px;
    max-width: 496px
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.key-people-head {
    color: #2E2F42;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.hero {
    background-color: #2E2F42;
    padding: 188px 0;
}

.order-button {
    display: block;
    margin: 0 auto;
    color: #FFF;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;
    background: #4D5AE5;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    cursor: pointer;
}

.order-button:hover,
.order-button:focus {
    background: #404BBF;

}

.feature-ul {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.key-people {
    background: #F4F4FD;
}


.visually-hidden {
    display: none;
}

.feature-list-head {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: 0.4px;
    margin-bottom: 8px;
}

.feature-list {
    width: calc((100% - 72px) / 4);
}

.feature-list-p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

.key-people-list {
    background-color: #FFFFFF;
    height: 380px;
    border-radius: 0px 0px 4px 4px;
    background: #FFF;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.key-people-list-div {
    padding: 32px 0;
}

.key-people-ul {
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: center;
}

.key-people-names {
    color: #2E2F42;
    font-weight: 500;
    font-size: 20px;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: 0.4px;
    margin-bottom: 8px;
    text-align: center;
}

.key-people-roles {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
    text-align: center;
}

.project-h {
    color: #2E2F42;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.project-cards-ul {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 48px;

}

.project-cards-ul li {
    display: flex;
    flex-direction: column;
    gap: 0;
    background: #fff;
    width: 360px;
    height: 420px;
}

.project-cards-div {
    border: 1px solid #E7E9FC;
    border-top: none;
    padding: 32px 16px;
    text-align: left;
}

.project-cards-head {
    color: #2E2F42;
    font-weight: 500;
    font-size: 20px;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: 0.4px;
    margin-bottom: 8px;
    text-align: left;
}

.project-cards-ul img {
    height: 100%;
    width: 100%;
}

img {
    display: block;
    max-width: 100%;
}

.project-cards-types {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

.footer {
    background: #2E2F42;
    padding: 100px 0;
}

.logo {
    display: inline-block;
    color: #4D5AE5;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    margin-bottom: 16px;
}

.end-p {
    color: #F4F4FD;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.32px;
    max-width: 264px;
}

.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}
